/.idea
/godata/server
.DS_Store
/crash.log
/terraform-provider-gocd
/terraform.tfstate
/terraform.tfstate.backup
/godata/server/config/cruise-config.xml
/gocd/profile.out
/dist
/.terraform
/coverage.txt
/gocd.test
